<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lookout.plugin.servicerelay">

    <application android:allowBackup="false" >
        <service
            android:name="com.lookout.plugin.servicerelay.internal.ServiceRelayService"
            android:exported="false" />
    </application>
</manifest>
